# Copyright (c) 2023 pottendo
# SPDX-License-Identifier: Apache-2.0

if SOC_RISCV32_ORANGECART

config SOC
	default "orangecart_riscv32"

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 80000000

config RISCV_HAS_CPU_IDLE
	bool

config RISCV_HAS_PLIC
	bool

config NUM_IRQS
	default 12

config C64_MEMBASE
	hex
	default 0x00000000

endif 
