# Copyright (c) 2022-2023 pottendo
# SPDX-License-Identifier: Apache-2.0

config BOARD_ORANGECART_VexRV32
	bool "Board with LiteX/VexRiscV CPU"
	select SOC_VexRV32
	select ATOMIC_OPERATIONS_C

config BOARD_ORANGECART_VexRV32SMP_FPU
        bool "Board with LiteX/VexRiscV-SMP CPU with FPU"
	select SOC_VexRV32SMP
        select CPU_HAS_FPU_DOUBLE_PRECISION
        select FPU_SHARING
#       select RISCV_ISA_EXT_C
        # ISA EXT C extension seems a bit slower, but more memory efficient, not yet useful on Zephyr
        # however, the bitstream supports it, better for Linux to save memory

config BOARD_ORANGECART_VexRV32SMP_SMP
        bool "Board with LiteX/VexRiscV-SMP dual core CPU"
        select SOC_VexRV32SMP
#       select RISCV_ISA_EXT_C

config BOARD_ORANGECART_VexRV32SMP_IMA
        bool "Board with LiteX/VexRiscV-SMP CPU"
        select SOC_VexRV32SMP
#       select RISCV_ISA_EXT_C
