# Copyright (c) 2022 pottendo
# SPDX-License-Identifier: Apache-2.0

config BOARD_ORANGECART
	bool "Board with LiteX/VexRiscV CPU"
	depends on SOC_RISCV32_LITEX_VEXRISCV
	select REQUIRES_FULL_LIBCPP
	select SERIAL_SUPPORT_INTERRUPT
	select SERIAL

config BOARD_ORANGECART_FPU
	bool "Board with LiteX/VexRiscV-SMP CPU"
	depends on SOC_RISCV32_LITEX_VEXRISCV
	select CPU_HAS_FPU_DOUBLE_PRECISION
	select REQUIRES_FULL_LIBCPP
	select THREAD_NAME
	select FPU_SHARING
	select SERIAL_SUPPORT_INTERRUPT
	select SERIAL
#	select RISCV_ISA_EXT_C
	# ISA EXT C extension seems a bit slower, but more memory efficient, not yet useful on Zephyr
	# however, the bitstream supports it, better for Linux to save memory

config BOARD_ORANGECART_SMP
	bool "Board with LiteX/VexRiscV-SMP CPU"
	depends on SOC_RISCV32_LITEX_VEXRISCV
	select REQUIRES_FULL_LIBCPP
	select SERIAL_SUPPORT_INTERRUPT
	select SERIAL
#	select RISCV_ISA_EXT_C

