# Copyright (c) 2022 pottendo
# SPDX-License-Identifier: Apache-2.0

config BOARD_ORANGECART
	bool "Board with LiteX/VexRiscV CPU"
	depends on SOC_RISCV32_LITEX_VEXRISCV

config BOARD_ORANGECART_FPU
	bool "Board with LiteX/VexRiscV-SMP CPU"
	depends on SOC_RISCV32_LITEX_VEXRISCV
	select CPU_HAS_FPU_DOUBLE_PRECISION
	select FPU_SHARING

config BOARD_ORANGECART_SMP
	bool "Board with LiteX/VexRiscV-SMP CPU"
	depends on SOC_RISCV32_LITEX_VEXRISCV
