config BOARD_ORANGECART_FPU
        bool "Board with LiteX/VexRiscV-SMP CPU"
        select SOC_RISCV32_ORANGECART
        select CPU_HAS_FPU_DOUBLE_PRECISION
        select FPU_SHARING
#       select RISCV_ISA_EXT_C
        # ISA EXT C extension seems a bit slower, but more memory efficient, not yet useful on Zephyr
        # however, the bitstream supports it, better for Linux to save memory
