# Copyright (c) 2023 pottendo
# SPDX-License-Identifier: Apache-2.0

############################################## FPU
if BOARD_ORANGECART_FPU
config BOARD
        default "orangecart_fpu"

config SPI
        default y

config FPU
    bool "Support floating point operations"
        default y

config DISK_DRIVER_SDMMC
        default y if DISK_DRIVERS

config C64_MEMBASE
        hex "memory address, where bitstream maps the C64 64k"
        default 0x0f000000

config RISCV_HAS_PLIC
        default y
        
endif # BOARD_ORANGECART_FPU
